body {
  min-width: 350px;
  background: white;
  min-height: 100vh;
}

a.button svg {
  margin-right: 3px;
  margin-top: 2px;
}

.head {
  display: flex;
  margin-bottom: 1.5rem;
}
.head > * {
  display: block;
}
.head img {
  width: 65px;
  height: 65px;
  margin-right: 1em;
  border-radius: 25%;
}

@media (min-width: 392px) {
  #profile img {
    display: block;
  }
}
@media (max-width: 425px) {
  .head img {
    display: none;
  }
}

section.container h3{
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
section.container h3::before{
	font-family: FontAwesome;
	padding-right: 3px;
	content: '\f078';
}
section.container h3.hidden::before{
	content: '\f077';
}

@media (max-width: 1200px) {
  .container .tile:not(.is-child) {
    display: block;
  }
}
.container .tile.is-child {
  display: flex;
  flex-direction: column;
}
.container .content {    
  display: flex;
  flex-direction: column;
  flex: 1;
}
.container .content p{
  flex: 1;
}
.container .info {
  height: 40px;
}
.container .info .links {
  font-size: 25px;
  float: right;
}
.container .info .versions {
  font-weight: 300;
  line-height: 40px;
}
